.contact_data {
  display: flex;
  align-items: center;
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact_name {
  margin-bottom: 7px;
}
.contact_icon {
  margin-right: 10px;
}
.contact_btn {
  padding: 3px 5px;
  font-size: inherit;
  margin-left: auto;
}
